@page "/AboutMe"

<MudTimeline>

    <MudTimelineItem Color="Color.Secondary" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Primary" Typo="Typo.h5">Sept 2017 - Juli 2020</MudText>
        </ItemOpposite>

        <ItemContent>
            <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Berufsausbildung - Mechatroniker</MudText>
            <MudText>
                <ul>
                    <li>Flottweg SE + Berufsschule 1 Landshut</li>
                    <li>Ergebnis: 83 Punkte</li>
                    <li>Notendurchschnitt: 1.4</li>
                </ul>
            </MudText>
        </ItemContent>
    </MudTimelineItem>

    <MudTimelineItem Color="Color.Secondary" Size="Size.Small">
        <ItemContent >
            <MudText Align="Align.Right" Color="Color.Primary" Typo="Typo.h5">Sept 2020 - Juli 2021</MudText>
        </ItemContent>

        <ItemOpposite>
            <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Fachabitur</MudText>
            <MudText>
                <ul>
                    <li>Staatliche Berufsoberschule 1 Landshut</li>
                    <li>Notendurchschnitt: 2.6</li>
                </ul>
            </MudText>
        </ItemOpposite>
    </MudTimelineItem>

    <MudTimelineItem Color="Color.Secondary" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Primary" Typo="Typo.h5">Okt 2021 - Aktuell</MudText>
        </ItemOpposite>

        <ItemContent>
            <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Studium - Bachelor Informatik</MudText>
            <ul>
                <li>Hochschule Landshut</li>
                <li>Aktueller Notendurchschnitt: 2.8</li>
            </ul>
        </ItemContent>
    </MudTimelineItem>

    <MudTimelineItem Color="Color.Secondary" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Primary" Typo="Typo.h5">Nov 2023 - Juli 2024</MudText>
        </ItemOpposite>

        <ItemContent>
            <MudText Align="Align.Right" Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Praktikum + Werkstuden Usaneers</MudText>
        </ItemContent>
    </MudTimelineItem>

</MudTimeline>

@code {

}