@page "/Events"
@using AlignItems = Radzen.AlignItems
@using Orientation = Radzen.Orientation

<div Class="rz-p-0 rz-p-md-12">
    <RadzenTimeline Orientation="@orientation" LinePosition="@position" Reverse="@reverse" Class="rz-m-4">
        <Items>
            <RadzenTimelineItem PointStyle="PointStyle.Primary">
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">September 2022</RadzenText>
                </LabelContent>
                <ChildContent>
                    Eurofurence 25
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">September 2023</RadzenText>
                </LabelContent>
                <ChildContent>
                    Eurofurence 26
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">Sometime in 2023</RadzenText>
                </LabelContent>
                <ChildContent>
                    BFD 13
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">December 2023 </RadzenText>
                </LabelContent>
                <ChildContent>
                    Furvester
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">March 2024 </RadzenText>
                </LabelContent>
                <ChildContent>
                    Silvercon 
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">June 2024 </RadzenText>
                </LabelContent>
                <ChildContent>
                    BFD 13 
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">September 2024 </RadzenText>
                </LabelContent>
                <ChildContent>
                    Eurofurence
                </ChildContent>
            </RadzenTimelineItem>
        </Items>
    </RadzenTimeline>
</div>

@code {
    Orientation orientation = Orientation.Vertical;
    LinePosition position = LinePosition.Center;
    bool reverse;
}