@page "/"

<MudGrid CLass="d-flex flex-grow-1"  Justify="Justify.Center">
    <MudItem Class="object-left" xs="6" sm="6" md="4">
        <MudImage Fluid="true" Src="Images/Sonas/Avali Headshot.png" Alt="Avali Headshot" Elevation="25" Class="rounded-lg"/>
    </MudItem>
    
    <MudSpacer />
    <MudItem xs="6" sm="6" md="4">
        <MudPaper Elevation="2" Class="pa-4">
            <MudText Typo="Typo.h3" Align="Align.Center">Marcel Sigl</MudText>
            <MudText Align="Align.Left">
                <ul>
                    <li>Software Dev</li>
                    <li>Photographer</li>
                    <li>Gamer</li>
                    <li>VRChat Avatar Creator</li>
                </ul>
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem>

        <MudPaper>

        </MudPaper>
    </MudItem>
</MudGrid>