@page "/"

<MudPaper Class="pa-15 ma-10 fade-in-anim" Elevation="23">
    <MudStack Justify="Justify.Center">
        <MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Primary"
                 Class="grow-side-anim">
            Marcel Sigl
        </MudText>

        <MudDivider Class="grow-side-anim"/>

        <MudText Typo="Typo.h5" Align="Align.Center">
            <ul>
                <li class="slide-right-anim">Software Dev</li>
                <li class="slide-right-anim">Photographer</li>
                <li class="slide-right-anim">Gamer</li>
                <li class="slide-right-anim">3D-Artist</li>
            </ul>
        </MudText>
    </MudStack>
</MudPaper>
