@page "/"

@inject IJSRuntime JsRuntime

<MudPaper id="paper1" Class="pa-15 ma-10 " Elevation="23"  gap-4 >
    <MudStack Justify="Justify.Center">
            
        <MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Primary">Marcel Sigl</MudText>
        
        <MudDivider/>
        
        <MudText Typo="Typo.h5" Align="Align.Center">
            <ul>
                <li>Software Dev</li>
                <li>Photographer</li>
                <li>Gamer</li>
                <li>3D-Artist</li>
            </ul>
        </MudText>
    </MudStack>
</MudPaper>


@code
{
    private DotNetObjectReference<Home>? _dotNetHelper;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetHelper = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("detectScroll", "paper1", _dotNetHelper);
        }
    }
}